[Unit]
Description=Fetch stock prices
After=network.target

[Service]
User=alan
WorkingDirectory=/home/alan/dev/pixprices
Environment=NODE_ENV=production
Environment="DEBUG=pixprices:*" DEBUG_HIDE_DATE=true DEBUG_COLORS=false
ExecStart=/usr/local/bin/node dist/pixprices fetch lse
